{% load mytags %} {% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <title>JobMap</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css'%}" />
        <link rel="icon" href="{% static 'Images/suitcase.png'%}" />
    </head>

    <body>
        {% with number_ques=0 %} {% endwith %}
        <div id="home" class="space"></div>
        <nav>
            <a href="index.html">
                <span class="logo"><img src="{% static 'Images/suitcase.png'%}"/>JobMap</span></a>
            <ul>
                <b>Soft Skills Test</b>
                <li class="vl"></li>

                {% if user.is_authenticated %}
                <li id="user-detail">
                    <img class="user-icon" src="{% static 'Images/user.png'%}"/><b>{{user.username}}</b>
                </li>
                {% else %}
                <li id="user-detail">
                    <img class="user-icon" src="{% static 'Images/user.png'%}"/><b>Username</b>
                </li>
                {% endif %}
                <li class="vl"></li>
                <li>
                    <a href="dashboard.html">Back <img class="login-icon" src="{% static 'Images/login.png'%}"/></a>
                </li>
            </ul>
        </nav>

        <div class="space"></div>
        <div class="part">
            <div class="write-up">
                <br />
                <h3>Soft Skills Test</h3>
                <br /><br />
                <p>
                    When it comes to working in a job environment, soft skills are as important as other technical skills. Take this self assesment test to let us figure out how good your are at different soft skills.<br><br>
                    Soft skills are character traits and interpersonal skills that characterize a person's relationships with other people. In the workplace, soft skills are considered to be a complement to hard skills, which refer to a person's knowledge and occupational skills. Sociologists may use the term soft skills to describe a person's emotional intelligence quotient (EQ) as opposed to intelligence quotient (IQ).
                </p>
                <br />
                <h4>
                    Soft skills test contains a total of n questions.
                </h4>
                <br/><br/>
                <h5>
                    Note: Press the finish button at the end of all the sections
                    after completing the test to submit your results.
                </h5>
            </div>

            <div class="cover-image">
                <img style="width: 65%" src="{% static 'Images/skill.jpg' %}" />
            </div>
        </div>
        <div class="space"></div>

        <form method="post" action="soft_result.html">
            <div class="part">
                <br /> {% csrf_token %} {% for q in questionList %} {% if "ss" in q.tag %}
                <h3>
                    {{q.question}}<br /><br />
                    <input type="radio" name="id{{q.id}}" value="1" /> (a) {{q.option1}} &emsp;&emsp;
                     <input type="radio" name="id{{q.id}}" value="2" /> (b) {{q.option2}} &emsp;&emsp;
                    <input type="radio" name="id{{q.id}}" value="3" /> (c) {{q.option3}}
                    &emsp;&emsp; <input type="radio" name="id{{q.id}}" value="4" /> (d)
                    {{q.option4}} <br /><br />

                </h3>

                <br /> {% endif %} {% endfor %}

            </div>

            <div class="space"></div>
            <center>
                <button type="submit" class="blue button">Finish Test</button>
            </center>
            <br /><br />
        </form>
    </body>

</html>
